html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  margin: 0;
  padding: 0;
}

.home-bar {
    list-style: none;;
}

.banner {
    width: 100%;
    height: auto;
    display: block;

}

.header-container {
  position: relative;
}

.button {
    position: absolute;
    top: 0%;
    left: 0%; 
    z-index: 10;

}

.logo { 
    height: 225px;
    left: 1.5%;
    width: auto;
}