html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  margin: 0;
  padding: 0;
}

.banner-image {
  z-index: 1;
    width: 100%;
    height: auto;
    display: block;

}

.button {
    top: 0%;
    left: 0%; 
    z-index: 10;
}

.logo { 
    height: 225px;
    left: 1.5%;
    width: auto;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-bar {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    width: 100%;
    height: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.main-buttons {
   position: absolute;
    top: 0%;
    left: 0%;
    z-index: 10;
    height: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
  width: 65%;
}

.homebar-text {
      display: inline-block;
      font-family: Montserrat;
      font-size: 30px;
      color: white;
      text-decoration: none;
      margin: 0 47px;
}

.homebar-text:hover {
    transform: scale(1.1);
}

.homebar-text:active {
    color: #e5e5e5;
} 

.content {
  display: block;
}

#portfolio {
  position: relative;
  display: block;
}

.slides-wrapper {
  display: flex;
  position: absolute;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: auto;
  height: 70vh;
}

.transition-image {
  position: absolute;
  display: inline;
  width: 100%;
  height: auto;
  display: block;
  z-index: 3;
}

.header-container {
  position: relative;
  display: flex;
}

.transition-image-header {
  top: 430px;
}

.transition-image-locations {
  top: 1050px;
}

.transition-extension {
  position: absolute;
  top: 500px;
  right: -300px;
}

.map-image {
  width: 100vw;
  height: 80vh;
  display: block;
  margin-top: -140px;
  z-index: 1;
}

.locations-text {
  position: relative;
  font-family: Montserrat;
  font-size: 55px;
  color: #545454;
  text-align: left;
  margin-top: 20px;
  z-index: 5;
  top: -10px;
  left: 60px;
}

section {
  scroll-margin-top: 100px;
}

.transition-extension-locations {
  top: 850px;
  left: 1100px;
}

.portfolio-text {
  position: relative;
  font-family: Montserrat;
  font-size: 55px;
  color: #545454;
  text-align: left;
  margin-top: 20px;
  z-index: 5;
  top: 15px;
  left: 60px;
}