.landing-page-body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  max-height: 100vh;
}

header {
  margin: 0;
  padding: 0;
}

.banner-image {
  z-index: 1;
    width: 100%;
    height: auto;
    display: block;

}

.button {
    top: 0%;
    left: 0%; 
    z-index: 3000;
}

.logo { 
    height: 225px;
    left: 1.5%;
    width: auto;
}

.logo:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.nav-bar {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 3000;
    width: 100%;
    height: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.main-buttons {
   position: absolute;
    top: 0%;
    left: 2%;
    z-index: 10;
    height: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
  width: 65%;
}

.homebar-text {
      display: inline-block;
      font-family: Montserrat;
      font-size: 30px;
      color: white;
      text-decoration: none;
      margin: 0 47px;
}

.homebar-text:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.homebar-text:active {
    color: #e5e5e5;
} 

.free-quote-button:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.free-quote-button:active {
  background-color: #2222;
}
.content {
  display: block;
}

.slides-wrapper {
  display: flex;
  position: relative;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  justify-content: space-evenly;
  width: 80vw;
  height: 85vh;
  margin-top: -150px;
  top: 450px;
  z-index: 2000;
  background-color: white;
  left: 130px;
  border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides-wrapper::-webkit-scrollbar {
  display: none;
}

.transition-image {
  position: absolute;
  display: inline;
  width: 100%;
  height: auto;
  display: block;
  z-index: 3;
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
  pointer-events: none;
}

.header-container {
  position: relative;
  display: flex;
}

.transition-image-header {
  top: 430px;
}

.transition-extension {
  position: absolute;
  top: 500px;
  right: -300px;
  z-index: 2;
}

.map-image {
  width: 90vw;
  height: auto;
  display: block;
  margin-top: 0px;
  clip-path: inset(15% 0 10% 0);  
  position: absolute;
  top: -80px;
  z-index: 100;
  left: 35px;
    
}

.map-image-wrapper {
  width: 95%;
  height: 90%;
  position: absolute;
  top: 265px;
  z-index: 99;
  left: 40px;
  background-color: white;
  border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.locations-body {
overflow-x: hidden;
  
}

.locations-text {
  position: relative;
  font-family: Montserrat;
  font-size: 55px;
  color: #545454;
  text-align: left;
  margin-top: 20px;
  z-index: 200;
  top: -10px;
  left: 60px;
    
}

section {
  scroll-margin-top: 100px;
  position: relative;
  display: block;
}

.portfolio-text {
  position: absolute;
  font-family: Montserrat;
  font-size: 55px;
  color: #545454;
  text-align: left;
  margin-top: -1000px;
  z-index: 205;
  top: 970px;
  left: 60px;
  pointer-events: none;
}

.gallery-image {
  width: auto;
  height: 80vh;
  scroll-snap-align: start;
  z-index: 15;
  margin: 20px 0px 0px 20px;
  border-radius: 2px;
}


.gallery-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 150vh;
  width: auto;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99;
}


.gallery-body {
  overflow-x: hidden;
}

.transition-image-portfolio {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
}


.transition-image-reviews {
  position: absolute;
  top:350px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
}

.reviews-text {
  position: relative;
  font-family: Montserrat;
  font-size: 55px;
  color: #545454;
  text-align: left;
  z-index: 1000;
  margin-top: 500px;
  left: 60px;
}

.socials-text {
  position: absolute;
  font-family: Montserrat;
  font-size: 55px;
  color: #545454;
  text-align: left;
  z-index: 1000;
  margin-top: 700px;
  left: 60px;
}

.transition-image-socials {
  position: absolute;
  top:1120px;
  left: 0;
  width: 100%;
  height: 500px;
  z-index: 1000;
}

.contact-text {
  position: relative;
  font-family: Montserrat;
  font-size: 45px;
  color: #545454;
  text-align: left;
  z-index: 1001;
  margin-top: 1400px;
  left: 60px;
}

.free-quote-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 795px;
  right: 30px;
  z-index: 10;
  width: 325px;
  height: 50px;
  background-color: gray;
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
}

.quote {
  position: relative;
  font-family: Montserrat;
  font-size: 30px;
  color: white;
  text-decoration: none;
  text-align: center;
  z-index: 500;
  margin-top: 10px;
  bottom: 5px;
}

.transition-image-locations-extension {
  position: absolute;
  top: -50px;
  left: 0px;
  z-index: 100;
  width: 365px;
  height: 300px;
  background-color: white;
}

.map-info-hidden {
  position: relative;
  opacity: 0;
  transform: translateY(120px);
  transition: transform 0.8s ease, opacity 0.8s ease;
  top: -100px;
  padding: 50px;
  padding-top: 0px;
   
}

.map-info {
  position: absolute;
  top: 525px;
  left: 1100px;
  z-index: 175;
  width: 360px;
  height: 500px;
  padding: 0px;
  display: flex;
  flex-direction: column;
   
}

.map-info-button-wrapper {
  position: relative;
  z-index: 1050;
  width: 360px;
  height: 120px;
  padding: 0px;
  background-color: white;
  top: 270px;
   
}

.map-info-button {
  position: absolute;
  width: 275px;
  height: 50px;
  background-color: gray;
  cursor: pointer;
  z-index: 10000;
  top: 30px;
  left: 50px;
  opacity: 1;
   
}

.map-info:hover .map-info-hidden {
  opacity: 1;
  transform: translateY(0px)
}

.map-info-text {
  position: relative;
  font-family: Montserrat;
  font-size: 27px;
  color: gray;
  text-align: left;
  z-index: 10000;
  opacity: 0.9;
   
}

.map-info-button-text {
  position: relative;
  font-family: Montserrat;
  font-size: 25px;
  color: white;
  text-align: center;
  z-index: 1501;
  z-index: 99999;
  bottom: 17px;
   
} 

.form-box {
  position: absolute;
  width: 25vw;
  height: 315px;
  top: 280px;
  left: 30px;
  bottom: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: left;
  padding: 100px 90px 100px 80px;
  flex-direction: column;
  border-radius: 20px;
}

.form-container {
  position: absolute;
  width: 25vw;
  height: 315px;
  top: 280px;
  left: 30px;
  bottom: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;

  font-family: Montserrat;
  font-size: 24px;
  color: gray;
  text-align: center;
  z-index: 1000;
  align-items: center;
  flex-direction: column;
  padding: 90px;
}

.free-quote-form {
  display: flex;
  flex-direction: column;
}

.form-title {
  font-family: Montserrat;
  font-size: 19px;
  color: gray;
  margin-bottom: 20px;
}

.form-subtitle {
  color: gray;
  border: none;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 14px;
}

.form-submission-text {
  font-size: 30px;
  margin-top: -75px;
}

.free-quote-submit-button {
  background-color: gray;
  color: white;
  border: none;
  font-family: Montserrat;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  width: 115px;
  border-radius: 5px;
  height: 40px;
  padding: 0 0 45px 0;
}

.free-quote-body {
  height: 100vh;
  overflow-x: hidden;
}

.socials-body {
  overflow-x: hidden;
  overflow-y: auto;
}

.free-quote-image {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  z-index: -1;
  width: 100vw;
  height: auto;
}

.checkmark {
  width: 75px;
  height: 75px;
}

.home-button-submission {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  z-index: 99999;
  width: 125px;
  height: 35px;
  background-color: gray;
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
  right: 215px;
  top: 325px;
}

.home-button-submission-text {
  font-family: Montserrat;
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  z-index: 500;
}

.socials-container-container {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 99;
  overflow: hidden;
}

.socials-container {
  position: relative;
  width: 275px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10000;
  overflow: hidden;
  background-color: white;
  margin: 150px 50px 0px 50px;
  border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.socials-container:hover {
  transform: scaleX(1.04) scaleY(1.04);
  transition-duration: 0.2s;
}

.socials-logo {
  margin: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
  z-index: 2000;
  margin-top: 25px;
}

.ig-logo {
  height: 160px;
  width: auto;
  margin-top: 0px;
}

.tt-logo {
  height: 110px;
  width: auto;
}

.fb-logo {
  height: 100px;
  width: auto;
}

.ig-text{
  position: relative;
  font-family: Montserrat;
  font-size: 15px;
  color: #545454;
  text-align: center;
  margin-top: -15px;
  opacity: 0.7;
}

.tt-text {
  position: relative;
  font-family: Montserrat;
  font-size: 15px;
  color: #545454;
  text-align: center;
  margin-top: 15px;
  opacity: 0.7;
}

.fb-text {
  position: relative;
  font-family: Montserrat;
  font-size: 15px;
  color: #545454;
  text-align: center;
  opacity: 0.7;
}

.socials-backdrop {
  position: absolute;
  top: 0px;
  left: 0;
  height: auto;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99;
  
}

.visit {
  position: relative;
  font-family: Montserrat;
  font-size: 15px;
  color: #545454;
  text-align: center;
  z-index: 2000;
  cursor: pointer;
  margin-top: 50px;
  background-color: rgb(211, 211, 211);
  padding: 15px 50px;
  border-radius: 8px;
  opacity: 0.7;

}

.contact-backdrop {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: auto;
  margin-top: -100px;
  left: -10px;
}

.contact-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 325px;
  z-index: 2000;
  background-color: white;
  top:300px;
  margin: auto;
  border-radius: 55px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-body {
  overflow-x: hidden;
}

.contact-phone {
  position: absolute;
  width: 45px;
  height: auto;
  z-index: 1002;
  top: 155px;
  left: 310px;
  opacity: 0.25;
}

.contact-email {
  position: absolute;
  width: 50px;
  height: auto;
  z-index: 1002;
  top: 233px;
  left:100px;
  opacity: 0.25;
}

.contact-profile {
  position: absolute;
  width: 175px;
  height: auto;
  z-index: 1002;
  top: 30px;
  left: 20px;
  opacity: 0.7;
}

.contact-phone-text {
  position: absolute;
  top: 140px;
  left: 365px;
  font-family: Montserrat;
  font-size: 22px;
  color: gray;
  z-index: 1002;
  opacity: 0.8;
}

.contact-email-text {
  position: absolute;
  top: 223px;
  left: 165px;
  font-family: Montserrat;
  font-size: 22px;
  color:gray;
  z-index: 2000;
  opacity: 0.8;
}

.contact-name-text {
  position: absolute;
  top: 35px;
  left: 230px;
  font-family: Montserrat;
  font-size: 25px;
  color: gray;
  opacity: 0.8;
}

.block1 {
  position: absolute;
  width: 100vw;
  height: 325px;
  z-index: 1000;
  background-color: #6E99AB;
  top: -80px;
  left: -10px;
}

.block2 {
  position: absolute;
  width: 50vw;
  background-color: white;
  height: 1000px;
  z-index: 000;
  left: -10px;
  top: 240px;
}